.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkblue;
    list-style: none;   
    font-family: 'Roboto Mono', monospace; 
    border-bottom: 5px solid lightgreen;
}

#navbar-image {
    width: 25px;
    height: 25px;
    background-color: darkblue;
}

.navbar li, a {
    margin-right: 30px;
    color: lightgreen;
    background-color: darkblue;
    text-decoration: none;
}

.navbar-list-projects {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: none;
    background-color: blue;
}

.navbar a:hover {
    cursor: pointer;
    color: black;
    background-color: lightgreen;
}

.navbar li:hover, .navbar-list-projects:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.project-list-item {
    color: red;
}

